@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 55, 65, 81;
  --background-start-rgb: 239, 246, 255;
  --background-end-rgb: 252, 231, 243;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes breathe {
  0% {
    transform: scale(0.75);
    opacity: 0.6;
  }
  40% {
    transform: scale(1.4);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.75);
    opacity: 0.6;
  }
}

.breathing-circle {
  animation: breathe 10s ease-in-out infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
